.container {
    text-align: center;
    line-height: 1.5;
}

.title {
    font-weight: 500;
    font-size: 2rem;
    color:#0E2515;
    margin-top: 1rem;
}

.para {
    font-size: 18px;
    color:#8C8C8C;
}

.subContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left {
    flex: 1;
}

.right {
    flex: 3;
}


.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    flex-direction: row;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #6b7280; 
    margin-top: 1rem;
}

.pagination li{
    list-style: none;
}

.pagination button {
    background-color: #ffffff;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    padding: 8px 12px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.pagination button:hover {
    background-color: #f9fafb;
    border-color: #065f46;
    color: #065f46;
}

.pageItem button {
    border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 4px;
}

.active button {
    background-color: #065f46;
    color: white;
    border: none;
    transition: all 0.3s ease;
}

.disabled {
    color: #d1d5db; 
    cursor: not-allowed;
}

.ellipsis {
    padding: 6px 10px;
    color: #6b7280;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #065f46; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media (min-width: 768px) {
    .pagination {
        flex-wrap: wrap;
        gap: 4px;
    }

    .pagination button {
        padding: 6px 10px;
        font-size: 13px;
    }

    .ellipsis {
        font-size: 13px;
        padding: 6px;
    }
    
    .title{
        letter-spacing: -0.5px;
        font-size: 60px;
        margin-top: 3rem;
        line-height: 180%;
    }
    .subContainer {
        flex-direction: row;
    }
}