.filterWrapper {
    width: 100%;
    margin-bottom: 20px;
}

.filterContainer {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-height: 1000px;
    opacity: 1;
    overflow: hidden;
    transition: max-height 0.5s ease;
    will-change: max-height, opacity;
}
.filterContainer.hidden {
    max-height: 0;
    opacity: 0;
    padding: 0 15px;
    margin: 0;
}

.filterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

/* .filterSpan {
    font-size: 18px;
    font-weight: 500;
} */

.resetButton {
    background: none;
    border: none;
    color: #1C4A2A;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.resetButton:hover {
    text-decoration: underline;
}

.filterSection {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;
    background: #f9f9f9;
}

.filterTitle {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.filterLabel {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 5px 0;
    gap: 8px;
}

.filterInput {
    accent-color: #2e7d32;
    width: 16px;
    height: 16px;
}

.toggleButton {
    margin: auto;
    display: none;
    padding: 12px;
    font-size: 16px;
    background-color: #2c5c43;
    width: 90%;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
    font-family: Montserrat, sans-serif;
}

@media (max-width: 768px) {
    .filterContainer {
        max-width: 100%;
        padding: 12px;
    }

    .filterLabel {
        font-size: 16px;
    }

    .filterTitle {
        font-size: 18px;
    }

    .resetButton {
        font-size: 16px;
    }

    .toggleButton {
        display: block;
    }

    .filterContainer {
        border: 1px solid #ccc;
        padding: 10px;
        background-color: var(--background);
    }
}

@media (max-width: 480px) {
    .filterWrapper{
        margin-bottom: 0;
    }

    .toggleButton{
        width: 100%;
    }

    .filterContainer {
        padding: 10px;
        text-align: left;
    }

    .filterSection {
        padding: 10px;
    }

    .filterLabel {
        font-size: 14px;
    }

    .resetButton {
        font-size: 14px;
    }
}